* {
	font-family: "Red Hat Text", sans-serif;
}

body {
	margin: 0;
}

/*---------------------------------------------------MENU ------------------------------------- */

.menu_bar_container {
	width: 100%;
	height: 110px;
	padding: 5px 0;
}

.menu_burger_box {
	display: none;
	height: 110px;
	width: 110px;
	margin: 0 5px;
}

.menu_bar_box {
	display: flex;
	width: auto;
	max-width: 1150px;
	height: 100%;
	margin: 0 auto;
	justify-content: space-between;
}

.menu_bar_logotypes {
	float: left;
	height: 100%;
	width: 220px;
}

.menu_bar_logo_box {
	display: flex;
	float: left;
	height: auto;
	min-height: 110px;
	width: 110px;
	justify-content: center;
	align-items: center;
}

.tlimc_logo {
	max-height: 100px;
}

.herb_logo {
	max-height: 90px;
}

.menu_content_box {
	float: left;
	height: 100%;
	width: 930px;
}

.menu_contact_box {
	float: right;
	width: 570px;
	height: 45px;
}

.menu_contact_box hr {
	margin: 0;
	width: 100%;
	height: 3px;
	border: none;
	border-radius: 5px;
	background-color: rgb(171, 172, 173);
}

.menu_contact_content {
	display: flex;
	float: right;
	height: 37px;
	width: 260px;
	margin: 5px 10px 0 15px;
	justify-content: center;
	align-items: center;
}

.menu_contact_content a {
	margin: 0;
	color: inherit;
	text-decoration: none;
}

.menu_contact_content_icon_box {
	height: 25px;
	width: 25px;
	margin: 0 5px;
}

.menu_contact_content_icon {
	height: 25px;
}

.menu_contact_text {
	margin: 0;
	font-size: 17px;
}

.menu_buttons_box {
	float: right;
	display: flex;
	height: 65px;
	width: 780px;
	justify-content: space-around;
	align-items: center;
}

.menu_button {
	display: flex;
	float: left;
	height: 50px;
	width: 150px;
	justify-content: center;
	align-items: center;
}

.menu_button_text {
	margin: 0;
	font-size: 22px;
	font-family: "Red Hat Text", sans-serif;
}

/*-------------------------------------------------- MAIN --------------------------------------------------*/

.main_container {
	height: auto;
	min-height: 2000px;
	width: 100%;
	background-color: rgb(255, 255, 255);
}

.content_container {
	width: 1150px;
	height: auto;
	margin: 0 auto;
}

/* baner */

.main_baner_box {
	height: 400px;
	width: 100%;
	background-color: cornsilk;
	background-image: url("pics/blank_baner.png");
	background-size: cover;
	background-position: bottom;
}

/* main reference boxes */

.main_reference_container {
	width: 1150px;
	height: auto;
	min-height: 500px;
}

.main_reference_box {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	max-width: 1150px;
	height: auto;
	min-height: 420px;
	margin: 0 auto;
	padding: 20px 0;
	justify-content: space-around;
}

.main_reference {
	float: left;
	width: 240px;
	height: 370px;
	margin: 20px 0;
	padding: 5px;
	border-radius: 14px;
	background-color: #ffffff;
	box-shadow: 0px 11px 28px -9px rgba(66, 68, 90, 1);
}

.main_reference_icon_box {
	display: flex;
	width: 100%;
	height: 230px;
	justify-content: center;
	align-items: center;
}

.reference_icon {
	height: 160px;
}

.main_reference_text_box {
	display: flex;
	width: 100%;
	height: 60px;
	margin: 5px 0;
	justify-content: center;
	align-items: center;
	background-color: brown;
}

.reference_text {
	margin: 0;
	font-size: 20px;
}

.main_reference_button_box {
	display: flex;
	width: 100%;
	height: 60px;
	justify-content: center;
	align-items: center;
	background-color: aquamarine;
}

.main_reference_button {
	display: flex;
	width: 180px;
	height: 50px;
	border-radius: 18px;
	background-color: azure;
	justify-content: center;
	align-items: center;
}

.reference_button_text {
	margin: 0;
	font-size: 23px;
}

/* ---------------------------------------------------- calendar ----------------------------------------*/

.calendar_container {
	float: left;
	width: 250px;
	height: auto;
	min-height: 300px;
}

.calendar_box {
	width: 250px;
	height: auto;
	min-height: 300px;
	float: left;
	border-radius: 8px;
	box-shadow: 0px 11px 28px -9px rgba(66, 68, 90, 1);
}

.calendar_header {
	display: flex;
	width: 240px;
	height: 60px;
	padding: 0 5px;
	align-items: center;
	justify-content: space-between;
}

.current_date {
	margin: 0;
}

.calendar {
	margin: 5px 0 10px 0;
	padding: 0 5px;
}

.calendar .weeks li {
	font-weight: 500;
}

.calendar ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	text-align: center;
	padding: 0;
	margin: 0;
}

.calendar ul li {
	width: calc(240px / 7);
	margin: 10px 0;
	font-size: 12px;
}

.days li.inactive{
	color: #aaa;
}

@media (max-width: 1149px) {
	.menu_content_box {
		display: none;
	}

	.menu_burger_box {
		display: block;
	}

	.main_reference {
		width: 400px;
	}
}
