* {
	font-family: "Red Hat Text", sans-serif;
}

body {
	margin: 0;
}

/*---------------------------------------------------MENU ------------------------------------- */

.menu_bar_container {
	width: 100%;
	height: 110px;
	padding: 5px 0;
}

.menu_burger_box {
	display: none;
	height: 110px;
	width: 110px;
	margin: 0 5px;
}

.menu_bar_box {
	display: flex;
	width: auto;
	max-width: 1400px;
	height: 100%;
	margin: 0 auto;
	justify-content: space-between;
}

.menu_bar_logotypes {
	height: 100%;
	width: 220px;
}

.menu_bar_logo_box {
	display: flex;
	float: left;
	height: auto;
	min-height: 110px;
	width: 110px;
	justify-content: center;
	align-items: center;
}

.tlimc_logo {
	max-height: 100px;
}

.herb_logo {
	max-height: 100px;
}

.menu_content_box {
	height: 100%;
	width: 980px;
}

.menu_contact_box {
	float: right;
	width: 570px;
	height: 45px;
}

.menu_contact_box hr {
	margin: 0;
	width: 100%;
	height: 3px;
	border: none;
	border-radius: 5px;
	background-color: rgb(171, 172, 173);
}

.menu_contact_content {
	display: flex;
	float: right;
	height: 37px;
	width: 260px;
	margin: 5px 10px 0 15px;
	justify-content: center;
	align-items: center;
}

.menu_contact_content a {
	margin: 0;
	color: inherit;
	text-decoration: none;
}

.menu_contact_content_icon_box {
	height: 25px;
	width: 25px;
	margin: 0 5px;
}

.menu_contact_content_icon {
	height: 25px;
}

.menu_contact_text {
	margin: 0;
	font-size: 17px;
}

.menu_buttons_box {
	display: flex;
	height: 65px;
	width: 980px;
	justify-content: space-around;
	align-items: center;
}

.menu_button {
	display: flex;
	float: left;
	height: 50px;
	width: 150px;
	justify-content: center;
	align-items: center;
}

.menu_button_text {
	margin: 0;
	font-size: 22px;
	font-family: "Red Hat Text", sans-serif;
}

/*-------------------------------------------------- MAIN --------------------------------------------------*/

.main_container {
	height: auto;
	min-height: 2000px;
	width: 100%;
	background-color: chocolate;
}

/* baner */

.main_baner_box {
	height: 600px;
	width: 100%;
	background-color: cornsilk;
	background-image: url("pics/blank_baner.png");
	background-size: cover;
	background-position: bottom;
}

/* main reference boxes */

.main_reference_container {
	width: 100%;
	height: auto;
	min-height: 500px;
	background-color: aqua;
}

.main_reference_box {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	max-width: 1400px;
	height: auto;
	min-height: 500px;
	margin: 0 auto;
	padding: 20px 0;
	background-color: chartreuse;
	justify-content: space-around;
}

.main_reference {
	float: left;
	width: 250px;
	height: 420px;
	margin: 20px 0;
	box-sizing: border-box;
	background-color: cadetblue;
}

@media (max-width: 1199px) {
	.menu_content_box {
		display: none;
	}

	.menu_burger_box {
		display: block;
	}

	.main_reference {
		width: 400px;
	}
}
